*{
	box-sizing: border-box;
}
p {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
body {
	background-image: url(media/body.png);
}
a {
	text-decoration: none;
	color: white;
}
#block {
	width: 10%;
	height: 10vh;
	margin : auto;
}
#inflatable {
	width: 100%;
	height: 150px;
	background-color: yellow;
	border-radius: 50%;
	border:2px solid orange;
	font-size: 25px;
}
#string {
  margin: auto;
  width: 1px;
	height: 80px;
	background-color: black;
}
#container{
	display: flex;
	height: 80vh;
	align-items: flex-end;
}
#balloon{
	height: 300PX;
	z-index: 100;
	text-align: center;
	margin: 0px 10px;
}

#balloon:hover {
  	cursor:  url(http://findicons.com/files/icons/2652/gentleface/48/target_icon.png) 24 24,auto;
}
#counter{
  	font-size: 45px;
}
#wrapper{
	display: flex;
	justify-content: center;
  	width: 100%;
}
#button {
	width: 200px;
	height: 80px;
	margin: 15px auto;
	background-color: #E91E63;
	border-radius: 10px;
	text-align: center;
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
}
.choice {
  width: 120px;
  height: 40px;
  margin: 15px;
  background-color: #303F9F;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
}
.clear:after {
  content: " ";
  display: block;
  clear: both;
}
.hide{
  display:none;
}
.clicked {
  background-color: #00897B;
}
.hard{
  display: block;
  animation-name: loop;
  animation-duration: 20s;
  position: relative;
  animation-iteration-count: 1;
}
.normal{
  display: block;
  animation-name: loop;
  animation-duration: 30s;
  position: relative;
  animation-iteration-count: 1;
}
.easy{
  display: block;
  animation-name: loop;
  animation-duration: 50s;
  position: relative;
  animation-iteration-count: 1;
}
@keyframes loop {
    from    { bottom: -200%;}
    to      { bottom: 1000%;}
}
