*{
	box-sizing: border-box;
}
p {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
body {
	background-image: url(media/body.png);
}
a {
	text-decoration: none;
	color: white;
}
#block {
	width: 10%;
	height: 80vh;
	margin : auto;
}
#inflatable {
	width: 100%;
	height: 150px;
	background-color: yellow;
	border-radius: 50%;
	border:2px solid orange;
	font-size: 25px;
}
#string {
  margin: auto;
  width: 1px;
	height: 80px;
	background-color: black;
}
#container{
	display: flex;
	height: 90vh;
	align-items: flex-end;
}
#balloon{
	height: 300PX;
	z-index: 100;
	text-align: center;
	margin: 0px 10px;
}

#balloon:hover {
  	cursor:  url(http://image.flaticon.com/icons/png/128/64/64473.png) 64 64,auto;
}
#counter{
  	font-size: 45px;
}
#button {
	width: 200px;
	height: 80px;
	margin: 15px auto;
	background-color: red;
	border-radius: 10px;
	text-align: center;
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;

}
.hide{
  display:none;

}
.move{
  display: block;
  animation-name: loop;
  animation-duration: 40s;
  position: relative;
  animation-iteration-count: 1;
}
@keyframes loop {
    from    { bottom: -200%;}
    to      { bottom: 1000%;}
}